:root {
  --yellow: #ffe443;
  --green: #d0dd28;
  --sky: #82a3f8;
  --water: #5984f6;
  --orange: #fbad18;
  --red: #f26647;
  --pink: #da386c;
  --purple: #ab218e;
  --dpurple: #662d91;
  --slate: #4c52a3;
  --dblue: #1f2b7b;

}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

body {
    background-color: rgb(219,225,221);
}

#test-animation {
    position: absolute;
    right: 90vw;
}

.background, .tile-container {
    box-sizing: border-box;
    height: 600px;
    width: 600px;
    border-radius: 0.25rem;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    position: absolute;
    left: 25%;
    top: 2%;
    justify-content: space-around;
    align-content: space-around;
}

.background {
    background-color: darkgray;
    z-index: 1;
}

.tile-container {
    z-index: 2;
    font-family: 'Mukta', sans-serif;
}

.empty-tile {
    background-color: rgb(227,218,201);
    border-radius: 0.25rem;
    width: 125px;
    height: 125px;
    z-index: 3;
}

.number-tile {
    width: 125px;
    height: 125px;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 0.3s;
    z-index: 4;
    color: aliceblue;
}

._2-tile {
    background-color: var(--yellow);
    color: black;
}

._4-tile {
    background-color: var(--green);
    color: black;
}

._8-tile {
    background-color: var(--sky);
}

._16-tile {
    background-color: var(--water);
}

._32-tile {
    background-color: var(--orange);
}

._64-tile {
    background-color: var(--red);
}

._128-tile {
    background-color: var(--pink);
}

._256-tile {
    background-color: var(--purple);

}

._512-tile {
    background-color: var(--dblue);
}

._1024-tile {
    background-color: var(--slate);
}

._2048-tile {
    background-color: var(--dblue);
}

